html{
    font-size: 16px;
}
body{
    background-color: rgba(207, 230, 238, 0.617);
}
/* part 1 */
.topBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8rem;
}
.logo img{
    height: 100%;
}
.ul_1{
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
    font-size: 1.5rem;
}
.li1_1 a{
    font-weight: bolder;
    text-decoration: none;
    color: black;
}
.li1_2 a{
    color: gray;
    font-weight: lighter;
    text-decoration: none;
}
.li1_3 a{
    color: black;
    text-decoration: none;
}
/* banner */
.one{
    display: flex;
    flex-direction: row;
    margin: 8rem;
    justify-content: space-between;
}
.alwaysFresh{
    width: 65%;
}
.always{
    font-size: 4rem;
    font-weight: bolder;
}
.fresh{
    font-size: 4rem;
    font-weight: bolder;
    color: rgb(226, 78, 10);
}
.indulge{
    width: 65%;
    font-size: 1.5rem;
    color: grey;
}
.hero{
    width: auto;
    align-items: end;
}
/* plants */
.OurPlants{
    text-align: center;
    margin: 0 12rem;
}
.our{
    font-size: 3.5rem;
    color: rgb(226, 78, 10);
}
.plants{
    font-size: 3.5rem;
    color: black;
}
.indulge2{
    font-size: 1.5rem;
    color: grey;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    margin: 8rem;
    gap: 1rem;
}
.lily{
    font-size: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 1rem;
}
.usd{
    font-weight: bolder;
}
.lily button{
    width: 100%;
    height: 2.5rem;
    background-color: rgb(215, 84, 2);
    color: white;
    font-size: 1rem;
    font-weight: bolder;
    box-shadow: none;
    outline: none;
    border: none;
}
.lily button:hover{
    background-color: brown;
}
/* plantsLover */
.three{
    display: flex;
    margin: 8rem;
    justify-content: center ;
    justify-content: space-between;
}
 .imageCont{
    position: relative;
    display: inline-block;
 }
 .mainimg{
    display: block;
    width: 100%;
    height: auto;
 }
 .badge{
    position: absolute;
    top: -7rem;
    right: -7rem;
    width: 15rem;
    z-index: 10;
 }
.lover{
    width: 45%;
}
.loverBig{
    font-size: 3.5rem;
    font-weight: bolder;
}
.point{
    font-size: 1.5rem;
    color: grey
}
/* latest deal */
.latestdeals{
    margin: 5rem 12rem;
    text-align: center;
}
.latest{
    font-size: 3.5rem;
    font-weight: bolder;
    color: rgb(226, 78, 10);
}
.deals{
    font-size: 3.5rem;
    font-weight: bolder;
}
.triplet{
    display: grid;
    grid-template-columns: 27% 68%;
    margin: 10rem;
    height: 23rem;
    gap: 1rem;
    justify-content: space-between;
}
.a{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
}
.bloom{
    background-image: url(assets/deal-bloom.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;
    margin: 0;
    height: 45%;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.aBig{
    font-size: 1rem;
    color: white;
    font-weight: bolder;
}
.shopnow{
    color: white;
    font-size: 1rem;
}
.ana{
    background-image: url(assets/deal-ana.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;
    margin: 0;
    height: 45%;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.b{
    background-image: url(assets/deal-zabo.png);
    background-repeat: no-repeat;
    opacity: 90%;
    margin: 0;
    height: 100%;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.bBig{
    font-size: 2.5rem;
    color: white;
    font-weight: bolder;
}
.Bshopnow{
    color: white;
    font-size: 1.5rem;
}